
/* ==============================
========= REBOOT CSS ============
============================== */


.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

html {
  --main-lite: #CFD3D4;
  --main-dark: #202020;
  --accent: #9BB8EC;
  --secondary: #ABABAB;
  --background-dark: #3E4A51;
  --menu-shadow: 0 0 10px 0px var(--background-dark);
  --main-font: Arial, Helvetica, sans-serif;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  font-family: var(--main-font);
  color: var(--main-dark);
  scroll-behavior: smooth;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  width: 100%;
  height: 100%;

  background-color: var(--main-lite);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: var(--main-dark);
}

a {
  color: var(--main-dark);
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  appearance: none;
}

/* ==============================
========= PAGE LAYOUT ============
============================== */

body {
  display: flex;
  flex-direction: column;
}

.layout {
  display: flex;
  flex-grow: 1;
}

.main {
  flex-grow: 1;
}

/* ==============================
========= HEADER STYLES ========
============================== */

.header {
  position: relative;
  z-index: 1;
  min-height: 80px;
  padding: 10px;
  background-color: var(--background-dark);
  box-shadow: var(--menu-shadow);
}

.header__container {
  display: flex;
}

.header__link {
  transition: opacity 0.1s ease-in-out;
}

.header__link:hover {
  opacity: 0.6;
}

.header__link:focus {
  opacity: 0.6;
  outline: none;
}

.header__link:focus-visible {
  opacity: 1;
  outline: 2px solid orange;
}

.header__link:active {
  opacity: 0.4;
}

.header__logo {
  display: block;
  margin: 0;
  padding: 0;
}

/* ==============================
========= CONTENT STYLES ========
============================== */

.main {
  background-color: #eeeeee;
}

.main__content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  }

  .main__spare {
    font-family: var(--main-font);
    font-size: 32px;
    font-weight: 700;
    line-height: 110%;
    color: #b9b9b9;
    text-align: center;
  }

/* ==============================
========= MENU STYLES ========
============================== */

.menu {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  min-width: 80px;
  padding: 10px;
  color: var(--main-lite);
  background-color: var(--background-dark);
  box-shadow: var(--menu-shadow);
  }

.menu__section {
  margin: 0;
  padding: 0;
  padding-top: 14px;
  border-top: 2px solid var(--secondary);
  list-style-type: none;
}

/* ==============================
========= MENU USER STYLES ========
============================== */

.user {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.user__container {
  position: relative;
}

.user__button {
  position: relative;
  margin: 0;
  margin-bottom: 14px;
  margin-right: 10px;
  padding: 0;
  background-color: unset;
  border: none;
  cursor: pointer;
  transition: opacity 0.1s ease-in-out;
}

.user__button:hover,
.user__button:focus {
  opacity: 0.6;
  outline: none;
}

.user__button:active {
  opacity: 0.4;
}

.user__button:focus-visible {
  opacity: 1;
  outline: 2px solid orange;
}

.user__avatar {
  display: block;
  width: 48px;
  height: 48px;
  margin: 0;
  padding: 0;
  object-fit: cover;
  border-radius: 6px;
}

.user__icon {
  display: block;
  margin: 0;
  padding: 0;
  object-fit: cover;
  border-radius: 6px;
}

.user__counter {
  position: absolute;
  top: -10px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 4px;
  font-family: var(--main-font);
  font-size: 12px;
  font-weight: 900;
  color: var(--main-lite);
  background-color: rgb(224, 44, 12);
  border-radius: 50%;
  transform: translate(100%, 0);
}

.sub {
  position: absolute;
  z-index: 5;
  top: 66%;
  left: 50%;
  width: 150px;
  padding: 10px;
  padding-bottom: 0;
  color: var(--main-lite);
  background-color: var(--background-dark);
  box-shadow: 0px 0px 30px 3px black;
  border-radius: 6px;
  transition: transform 0.1s ease-in-out;
  transform-origin: top left;
  transform: scale(0);
}

.sub__item {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  color: inherit;
  background-color: unset;
  border: none;
  cursor: pointer;
  user-select: none;
}

.sub__item:hover,
.sub__item:focus {
  opacity: 0.6;
  outline: none;
}

.sub__item:active {
  opacity: 0.4;
}

.sub__item:focus-visible {
  opacity: 1;
  outline: 2px solid orange;
}

.sub__icon {
  margin: 0;
  margin-right: 6px;
  padding: 0;
}

.sub__txt {
  display: inline;
  font-family: var(--main-font);
  font-size: 14px;
}

/* ==============================
========= MENU FOOTER STYLES ========
============================== */

.menu__footer {
  margin-top: auto;
  text-align: center;
}

.store {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  margin-bottom: 14px;
  margin-right: -24px;
  padding: 0;
  list-style-type: none;
}

.store__item {
  margin-right: 24px;
}

.store__link {
  cursor: pointer;
  transition: opacity 0.1s ease-in-out;
}

.store__link:hover,
.store__link:focus {
  opacity: 0.6;
  outline: none;
}

.store__link:active {
  opacity: 0.4;
}

.store__link:focus-visible {
  opacity: 1;
  outline: 2px solid orange;
}

.error button {
  margin: 0;
  margin-bottom: 14px;
  padding: 0;
  font-family: var(--main-font);
  font-size: 12px;
  color: inherit;
  background-color: unset;
  border: none;
  cursor: pointer;
  transition: opacity 0.1s ease-in-out;
  user-select: none;
}

.error button:hover,
.error button:focus {
  opacity: 0.6;
  outline: none;
}

.error button:active {
  opacity: 0.4;
}

.error button:focus-visible {
  opacity: 1;
  outline: 2px solid orange;
}

.toggle {
  width: fit-content;
  margin: 0 auto;
}

.custom-toggle {
  display: flex;
  align-items:center;
  width: fit-content;
}

.custom-toggle__button {
  position: relative;
  display: block;
  width: 48px;
  height: 24px;
  background-color: var(--secondary);
  border-radius: 12px;
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.custom-toggle__button::after {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 20px;
  height: 20px;
  background-color: var(--background-dark);
  border-radius: 50%;
  transform: translate(-22px, -50%);
  transform-origin: 0 0;
  transition: all 0.1s ease-out;
  content: "";
}

.custom-toggle__input:checked + .custom-toggle__button {
  background-color: var(--accent);
}

.custom-toggle__input:checked + .custom-toggle__button::after {
  transform: translate(2px, -50%);
  transform-origin: 0, 0;
  transition-delay: 0.1s;
}

.custom-toggle__input:hover + .custom-toggle__button {
  opacity: 0.6;
}

.custom-toggle__input:focus-visible + .custom-toggle__button {
  outline: 2px solid orange;
}

.custom-toggle__label {
  padding-left: 8px;
  font-family: var(--main-font);
  font-size: 12px;
  line-height: 100%;
  cursor: pointer;
  user-select: none;
}
