
/* ==============================
========= REBOOT CSS ============
============================== */

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  --main-lite: #CFD3D4;
  --main-dark: #202020;
  --accent: #9BB8EC;
  --secondary: #ABABAB;
  --background-dark: #3E4A51;
  --menu-shadow: 0 0 10px 0px var(--background-dark);
  --main-font: Arial, Helvetica, sans-serif;

  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  height: -webkit-fill-available;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  font-family: var(--main-font);
  color: var(--main-dark);
  scroll-behavior: smooth;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  background-color: var(--main-lite);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: var(--main-dark);
}

a {
  color: var(--main-dark);
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  appearance: none;
}

/* ==============================
========= PAGE LAYOUT ============
============================== */

body {
  display: flex;
  flex-direction: column;
}

.layout {
  position: relative;
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.main {
  flex-grow: 1;
}

/* ==============================
========= HEADER STYLES ========
============================== */

.header {
  position: relative;
  z-index: 1;
  padding: 10px;
  background-color: var(--background-dark);
  box-shadow: var(--menu-shadow);
}

.header__container {
  display: flex;
}

.header__link {
  transition: opacity 0.1s ease-in-out;
}

.header__link:hover {
  opacity: 0.6;
}

.header__link:focus {
  opacity: 0.6;
  outline: none;
}

.header__link:focus-visible {
  opacity: 1;
  outline: 2px solid orange;
}

.header__link:active {
  opacity: 0.4;
}

.header__logo {
  display: block;
  margin: 0;
  padding: 0;
}


@media (max-width: 750px) {
  .header__logo {
    width: 32px;
    height: 32px;
  }
}

.header__button {
  display: none;
}
 @media (max-width: 750px) {
  .header__button {
    display: block;
  }
 }

 /* ==============================
========= BURGER STYLES =========
============================== */

.burger {
  position: relative;
  width: 32px;
  height: 32px;
  margin: 0;
  margin-right: 6px;
  padding: 0;
  background-color: unset;
  border: none;
  cursor: pointer;
}

.burger:hover,
.burger:focus {
  opacity: 0.6;
  outline: none;
}

.burger:active {
  opacity: 0.4;
}

.burger:focus-visible {
  opacity: 1;
  outline: 2px solid orange;
}

.burger__open {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  height: 2px;
  background-color: var(--main-lite);
  transform: scaleY(1) translate(-50%, -50%);
  transition: transform 0.1s ease-in-out;
}

.burger__open::before,
.burger__open::after {
  display: block;
  position: absolute;
  left: 50%;
  width: 24px;
  height: 2px;
  background-color: var(--main-lite);
  transform: translate(-50%, -50%);
  content: "";
}

.burger__open::before {
  top: -6px;
}

.burger__open::after {
  bottom: -8px;
}

.burger__close {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  height: 2px;
  background-color: unset;
  transform: scaleY(0) translate(-50%, -50%);
  transition: transform 0.1s ease-in-out;
}

.burger__close::before,
.burger__close::after {
  display: block;
  position: absolute;
  left: 0;
  width: 24px;
  height: 2px;
  background-color: var(--main-lite);
  content: "";
}

.burger__close::before {
  transform: rotate(45deg);
}

.burger__close::after {
  transform: rotate(-45deg);
}

.burger.isOpened .burger__open {
  transform: scaleY(0) translate(-50%, -50%);
}

.burger.isOpened .burger__close {
  transform: scaleY(1) translate(-50%, -50%);
}


/* ==============================
========= MENU STYLES ========
============================== */

.menu {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-top: 28px;
  color: var(--main-lite);
  background-color: var(--background-dark);
  box-shadow: var(--menu-shadow);
  }

@media (max-width: 750px) {
  .menu {
    position: absolute;
    top: 0;
    height: 100%;
    padding-top: 10px;
    transform: translateX(calc(-100% - 10px));
    transition: transform 0.1s ease-in-out;
    overflow: auto;
  }
}

.menu.isOpened {
  transform: translateX(0%);
}

.menu__collapse {
  position: absolute;
  top: 0;
  left: 10px;
  display: block;
  margin: 0;
  padding: 0;
  background-color: unset;
  border: none;
  cursor: pointer;
  user-select: none;
  opacity: 1;
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
}

.menu__collapse:disabled {
  opacity: 0.2;
  cursor: auto;
}

@media (max-width: 750px) {
  .menu__collapse {
    display: none;
  }
}

.menu.isCollapsed .menu__collapse {
  transform: rotate(180deg);
}

.menu__collapse:hover,
.menu__collapse:focus {
  opacity: 0.6;
  outline: none;
}

.menu__collapse:active {
  opacity: 0.4;
}

.menu__collapse:focus-visible {
  opacity: 1;
  outline: 2px solid orange;
}

.menu.isCollapsed .user__counter.user__counter--total {
  display: flex;
}

.menu.isCollapsed .menu__txt {
  display: none;
}

.menu.isCollapsed .user__button {
  display: none;
}

.menu.isCollapsed .error {
  display: none;
}

.menu.isCollapsed .toggle {
  display: none;
}

.menu.isCollapsed .store {
  display: none;
}

/* ==============================
========= MENU USER STYLES ========
============================== */

.user {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.user__container {
  position: relative;
}

.user__button {
  position: relative;
  margin: 0;
  margin-bottom: 14px;
  margin-right: 10px;
  padding: 0;
  background-color: unset;
  border: none;
  cursor: pointer;
  transition: opacity 0.1s ease-in-out;
}

.user__button:hover,
.user__button:focus {
  opacity: 0.6;
  outline: none;
}

.user__button:active {
  opacity: 0.4;
}

.user__button:focus-visible {
  opacity: 1;
  outline: 2px solid orange;
}

.user__avatar {
  position: relative;
  margin: 0;
  margin-bottom: 14px;
  margin-right: 10px;
  padding: 0;
  background-color: unset;
  border: none;
  cursor: pointer;
  transition: opacity 0.1s ease-in-out;
}

.user__avatar:hover,
.user__avatar:focus {
  opacity: 0.6;
  outline: none;
}

.user__avatar:active {
  opacity: 0.4;
}

.user__avatar:focus-visible {
  opacity: 1;
  outline: 2px solid orange;
}

.user__avatar img {
  display: block;
  width: 48px;
  height: 48px;
  margin: 0;
  padding: 0;
  object-fit: cover;
  border-radius: 6px;
}

.user__icon {
  display: block;
  margin: 0;
  padding: 0;
  object-fit: cover;
  border-radius: 6px;
}

.user__counter {
  position: absolute;
  top: -10px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 4px;
  font-family: var(--main-font);
  font-size: 12px;
  font-weight: 900;
  color: var(--main-lite);
  background-color: rgb(224, 44, 12);
  border-radius: 50%;
  transform: translate(100%, 0);
  visibility: hidden;
}

.user__counter--total {
  display: none;
  right: 20px;
}

.sub {
  position: absolute;
  z-index: 5;
  top: 66%;
  left: 50%;
  width: 150px;
  padding: 10px;
  padding-bottom: 0;
  color: var(--main-lite);
  background-color: var(--background-dark);
  box-shadow: 0px 0px 20px 0px black;
  border-radius: 6px;
  transition: transform 0.1s ease;
  transform-origin: top left;
  transform: scale(0);
}

@media (max-width: 750px) {
  .sub {
    display: none;
  }
}

.sub.isActive {
  transform: scale(1);
}

.sub__item {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  color: inherit;
  background-color: unset;
  border: none;
  cursor: pointer;
  user-select: none;
}

.sub__item:hover,
.sub__item:focus {
  opacity: 0.6;
  outline: none;
}

.sub__item:active {
  opacity: 0.4;
}

.sub__item:focus-visible {
  opacity: 1;
  outline: 2px solid orange;
}

.sub__icon {
  margin: 0;
  margin-right: 6px;
  padding: 0;
}

.sub__txt {
  display: inline;
  font-family: var(--main-font);
  font-size: 14px;
}

/* ==============================
========= MAIN MENU STYLES ======
============================== */

.menu__section {
  margin: 0;
  padding: 0;
  padding-top: 14px;
  border-top: 2px solid var(--secondary);
  list-style-type: none;
}

.menu__icon {
  display: block;
  margin: 0;
  padding: 0;
}

.menu__icon--sub {
  flex-shrink: 0;
  margin-left: auto;
}

@media (max-width: 750px) {
  .menu__icon--sub {
    transform: rotate(90deg);
  }
}

@media (max-width: 750px) {
  .sub-menu__item .menu__icon--sub {
    display: none;  }
}

.menu__item {
  position: relative;
  margin: 0;
  margin-bottom: 14px;
  padding: 0;
}

.sub-menu__item--mobile {
  display: none;
}

@media (max-width: 750px) {
  .sub-menu__item--mobile {
    display: list-item;
  }
}

.menu__link {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
  font-size: 16px;
  color: var(--main-lite);
  transition: opacity 0.1s ease-in-out;
}

.menu__link:hover,
.menu__link:focus {
  opacity: 0.6;
  outline: none;
}

.menu__link:active {
  opacity: 0.4;
}

.menu__link:focus-visible {
  opacity: 1;
  outline: 2px solid orange;
}

.menu__txt {
  margin-left: 6px;
  margin-right: auto;
}

.sub-menu {
  display: none;
  position: absolute;
  z-index: 5;
  top: 0;
  right: -10px;
  width: 175px;
  margin: 0;
  padding: 0;
  background-color: var(--background-dark);
  list-style-type: none;
  transform: translate(100%, 0%);
  box-shadow: var(--menu-shadow);

}

@media (max-width: 750px) {
  .sub-menu {
    position: static;
    display: block;
    transform: translate(0%, 0%);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
  }

    .sub-menu.isActive {
    max-height: 500px;
  }
}

.sub-menu.isActive {
  display: block;
}

.sub-menu__link {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 4px 6px;
  font-family: var(--main-font);
  font-size: 14px;
  color: var(--main-lite);
  transition: opacity 0.1s ease-in-out;
}

.sub-menu__link--btn {
  justify-content: flex-start;
  padding: 8px;
  font-family: var(--main-font);
  font-size: 14px;
  color: var(--main-lite);
  background-color: unset;
  border: none;
  cursor: pointer;
  user-select: none;
}

.sub-menu__link--btn img {
  margin: 0;
  margin-right: 8px;
  padding: 0;
}

.sub-menu__link::before {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-dark);
  opacity: 0;
  content: "";
  transition: opacity 0.1s ease-in-out;
}

.sub-menu__link:focus {
  outline: none;
}

.sub-menu__link:hover::before,
.sub-menu__link:focus::before {
  opacity: 0.4;
}

.sub-menu__link:active {
  opacity: 0.4;
}

.sub-menu__link:focus-visible {
  opacity: 1;
  outline: 2px solid orange;
}

.sub-menu__add {
  position: absolute;
  z-index: 7;
  top: 50%;
  right: 0;
  display: none;
  width: 100px;
  height: 100%;
  padding: 8px;
  font-family: var(--main-font);
  font-size: 14px;
  color: var(--main-lite);
  background-color: var(--background-dark);
  box-shadow:var(--menu-shadow);
  transform: translate(100%, -50%);
  border: none;
  cursor: pointer;
  user-select: none;
  transition: filter 0.1s ease-in-out;
}

@media (max-width: 750px) {
  .sub-menu__add {
    display: none !important;
  }
}

.sub-menu__add:hover,
.sub-menu__add:focus {
  filter: brightness(1.25);
  outline: none;
}

.sub-menu__add:active {
  filter: brightness(1.5);
}

.sub-menu__add:focus-visible {
  opacity: 1;
  outline: 2px solid orange;
}

.sub-menu__link:hover .sub-menu__add,
.sub-menu__link:focus .sub-menu__add {
  display: block;
}

.sub-menu__add img {
  display: inline;
  margin: 0;
  margin-right: 6px;
  padding: 0;
}

/* ==============================
========= MENU FOOTER STYLES ========
============================== */

.menu__footer {
  margin-top: auto;
  text-align: center;
}

.store {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  margin-bottom: 14px;
  margin-right: -24px;
  padding: 0;
  list-style-type: none;
}

.store__item {
  margin-right: 24px;
}

.store__link {
  cursor: pointer;
  transition: opacity 0.1s ease-in-out;
}

.store__link:hover,
.store__link:focus {
  opacity: 0.6;
  outline: none;
}

.store__link:active {
  opacity: 0.4;
}

.store__link:focus-visible {
  opacity: 1;
  outline: 2px solid orange;
}


@media (max-width: 750px) {
  .error {
    display: none;
  }
}

.error button {
  margin: 0;
  margin-bottom: 14px;
  padding: 0;
  font-family: var(--main-font);
  font-size: 12px;
  color: inherit;
  background-color: unset;
  border: none;
  cursor: pointer;
  transition: opacity 0.1s ease-in-out;
  user-select: none;
}

.error button:hover,
.error button:focus {
  opacity: 0.6;
  outline: none;
}

.error button:active {
  opacity: 0.4;
}

.error button:focus-visible {
  opacity: 1;
  outline: 2px solid orange;
}

.toggle {
  width: fit-content;
  margin: 0 auto;
}


@media (max-width: 750px) {
  .toggle {
    display: none;
  }
}

.custom-toggle {
  display: flex;
  align-items:center;
  width: fit-content;
}

.custom-toggle__button {
  position: relative;
  display: block;
  width: 48px;
  height: 24px;
  background-color: var(--secondary);
  border-radius: 12px;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.custom-toggle__button::after {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 20px;
  height: 20px;
  background-color: var(--background-dark);
  border-radius: 50%;
  transform: translate(-22px, -50%);
  transform-origin: 0 0;
  transition: all 0.1s ease-in-out;
  content: "";
}

.custom-toggle__input:checked + .custom-toggle__button {
  background-color: var(--accent);
}

.custom-toggle__input:checked + .custom-toggle__button::after {
  transform: translate(2px, -50%);
  transform-origin: 0, 0;
}

.custom-toggle__input:hover + .custom-toggle__button {
  opacity: 0.6;
}

.custom-toggle__input:focus-visible + .custom-toggle__button {
  outline: 2px solid orange;
}

.custom-toggle__label {
  padding-left: 8px;
  font-family: var(--main-font);
  font-size: 12px;
  line-height: 100%;
  cursor: pointer;
  user-select: none;
}

/* ==============================
========= CONTENT STYLES ========
============================== */

.main {
  background-color: #eeeeee;
}

.main__content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  }

  .main__spare {
    font-family: var(--main-font);
    font-size: 32px;
    font-weight: 700;
    line-height: 110%;
    color: #b9b9b9;
    text-align: center;
  }
